@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    user-select: none;
}

.card-bg {
    background: url('../public/images/cardback.png') center center;
    background-size: cover;
}